<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Technology Stocks</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/style.css">
</head>

<body>
<!-- Heading/Jumbotron: -->
  <div class="hero text-center">
    <h1>Stock Market Spotlight: Technology</h1>
  </div>
  
<!-- ChartJS: -->
<div class="container">
    <div class="row">
      <div class="col-md-10">
        <canvas id="line-chart" width="600" height="400"></canvas>
      </div>
    </div>

    <!-- spacing -->
    <div class="row">
      <div class="col-md-12">
        <br><br>
      </div>
    </div>
    

<!-- Header for d3 interactive charts -->
    <div class="row">
      <div class="col-md-10">
        <h3>Use our interactive charts to compare stock markets around the globe:</h3>
      </div>
    </div>

    <!-- spacing -->
    <div class="row">
      <div class="col-md-12">
        <br><br>
      </div>
    </div>

<!-- Dropdown and chart: NYSE -->
    <div class="row">
      <div class="col-md-2">
        <div class="well">
          <h5>New York Stock Exchange:</h5>
          <select id="selDataset1" onchange="SE1_Change(this.value)"></select>
        </div>
      </div>
      <div class="col-md-4">
        <div id="bar" class = "myChart1"></div>
      </div>
<!-- Dropdown and chart: LSE -->
      <div class="col-md-2">
        <div class="well">
          <h5>London Stock Exchange:</h5>
          <select id="selDataset2" onchange="SE2_Change(this.value)"></select>
        </div>
      </div>
      <div class="col-md-4">
        <div id="bar" class = "myChart2"></div>
      </div>
    </div>
    <!-- Dropdown and chart: OTC -->
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-2">
        <div class="well">
          <h5>Over The Counter (OTC) Exchanges:</h5>
          <select id="selDataset3" onchange="SE3_Change(this.value)"></select>
        </div>
      </div>
      <div class="col-md-4">
        <div id="bar" class = "myChart3"></div>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>  
  <script src="static/app.js"></script>
</body>

</html>
